{% extends 'layout.html' %} 

{% block content %}

<div class="d-flex">
  <div class="w-100  d-flex flex-column">
    <img class="w-100" src="{{ product.image.url }}">

  </div>
  <div class="w-100 d-flex flex-column">
    <h1>{{ product.name}}</h1>
    <p>{{ product.description }}</p>
    <a href="/add_to_cart/{{ product.sku }}"class="btn btn-primary"><i><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
    </svg>
    </i></a>
  </div>
</div>

<div class=" imagen d-flex flex-column mt-4 pt-4">
  <h4>Ver tambien:</h4>
  <div class="d-flex flex-wrap row-cols-4">
    {% for extra in extras %}
    <div class="col p-2">
      <div class="card">
        <a href="/product/{{ extra.sku }}">
          <img src="{{ extra.thumbnail.url }}">
        </a>
        <div>
          <h6>{{ extra.name }}</h6>
        </div>

      </div>

    </div>
     
    {% endfor %}
</div>
</div>

{% endblock %}
