{% extends 'layout.html' %} 
{% block content %}
<section class="d-flex w-50" style="margin: 0px auto">
  <form class="w-100" action="/sign_in" method="POST">
    <div class="form-group">
        {% csrf_token %} 
      <label>Ingrese email</label>
      <input class="form-control w-100" type="email" name="username" />
    </div>
    <div class="form-group">
      <label>Ingrese contrasenia</label>
      <input class="form-control w-100" type="text" name="password" />
    </div>
    
    <div class="form-group">
      <button type="submit">Iniciar sesion</button>
    </div>
  </form>
</section>
{% endblock %}